body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 2;
  padding: 0;
}

section {
  width: 70%;
  margin: auto;
}

hr {
  width: 40%;
  border: 10px dotted #63B4B8;
  border-top: none;
}

footer {
  background-color: #cfe3f1;
  font-weight: 400;
}

/* Hover */
.ambassador-txt:hover {
  background-color: #ff0;
}

header h3:hover {
  text-decoration: none;
}

/* Fonts */
h1 {
  font-weight: 900;
}

.bold, h2, h3, h4, h6 {
  font-weight: 700;
}

.red {
  color: #f00;
}

header {
  width: 100%;
  margin-left: 0;
  background-color: #5C7AEA;
  color: #fff;
  text-align: left;
  font-weight: 700;
}

header h3 {
  margin-left: 300px;
}

header, footer {
  font-family: "Ubuntu", sans-serif;
}

.italic, figcaption {
  font-style: italic;
}

li {
  text-align: left;
}

.details {
  text-align: right;
}

.ambassador-heading {
  font-weight: 400;
}

/* Images */
.flyer {
  width: 700px;
}

.award {
  width: 100%;
}

.sponsor-img {
  height: 100px;
}

.footer-img {
  width: 150px;
}

/* Iframe */
.iframe-container {
  padding-top: 60%;
  position: relative;
}

.iframe-container iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Responsiveness */
@media (min-width: 1500px) {
  .award {
    width: 500px;
  }
}

@media (max-width: 1300px) {
  body {
    line-height: 2.5;
  }

  section {
    width: 80%;
  }

  .sponsor-img {
    width: 40%;
    height: auto;
  }
}

@media (max-width: 1000px) {
  header h3 {
    text-align: center;
    margin: auto;
  }

  .flyer {
    width: 70%;
  }

  .details {
    text-align: left;
  }

}
