.colored {
  background-color: #2d8ebf;
  color: #fff;
}

.title {
  margin-left: 100px;
}

.bold {
  font-weight: bold;
}

.body {
  width: 1200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.red {
  color: red;
}

.flyer {
  width: 700px;
}

hr {
  border: none;
  height: 5px;
  background: black;
}

.award {
  width: 500px;
}

.italic {
  font-style: italic;
}

li {
  text-align: left;
}

.sponsor-img {
  height: 100px;
}

.bottom-navbar {
  font-size: 20px;
}

.footer {
  background-color: #cfe3f1;
}

.copyright {
  font-size:12px;
}

.footer-img {
  width: 150px;
}
